/VIDEOSJUNIT/nbproject/private/
/VIDEOSJUNIT/build/
/01DiscountCalculator/nbproject/private/
/01DiscountCalculator/build/
/02TemperatureConverter/nbproject/private/
/02TemperatureConverter/build/
/03PasswordValidator/nbproject/private/
/03PasswordValidator/build/
/04TaskManager/nbproject/private/
/04TaskManager/build/
/05Fechas/nbproject/private/
/05Fechas/build/